input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: black;
  }

  .updateform {
    border-radius: 5px;
    background-color: #396ee2;
    padding: 20px;
    width: 500px;
    text-align: center;
    margin:auto;
    color: white;
  }
  